In [272]:
import numpy as np

In [273]:
import pandas as pd

In [274]:
data_trx = pd.read_csv('C:\datos\FULLSTACK\DS_DepositoPlazoFijo_01_Trx.csv', encoding = 'latin-1')
data_fin = pd.read_csv('C:\datos\FULLSTACK\DS_DepositoPlazoFijo_01_Financiera.csv', encoding = 'latin-1')
data_cli = pd.read_csv('C:\datos\FULLSTACK\DS_DepositoPlazoFijo_01_Cliente.csv', encoding = 'latin-1')
#DS_DepositoPlazoFijo_01_Trx
#DS_DepositoPlazoFijo_01_Financiera.csv
#DS_DepositoPlazoFijo_01_Cliente.csv

In [275]:
data_cli.shape

(241513, 13)

In [276]:
### obtner tipos de datos
data_cli.info()
# otra forma
pd.DataFrame(data.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241513 entries, 0 to 241512
Data columns (total 13 columns):
ID_SEC                  241513 non-null int64
TARGET_VTAMOV           241513 non-null int64
CODSUBSEGMENTO          241513 non-null object
PERFIL_TACTICO          241308 non-null object
PERFIL_DIGITAL          241513 non-null object
FLGSEXO                 241512 non-null object
TIPESTCIVIL             241513 non-null object
TIPNIVELEDUCACIONAL     241513 non-null object
TIPSITUACIONLABORAL     241513 non-null object
EDAD                    241513 non-null int64
DEPARTAMENTO            241391 non-null object
INGRESO_TABLA_BCAPER    238767 non-null float64
FLG_AFLUENTE            241308 non-null float64
dtypes: float64(2), int64(3), object(8)
memory usage: 24.0+ MB

                            0
ID_SEC                  int64
TARGET_VTAMOV           int64
CODSUBSEGMENTO         object
PERFIL_TACTICO         object
PERFIL_DIGITAL         object
FLGSEXO                object
TIPESTCIVIL            object
TIPNIVELEDUCACIONAL    object
TIPSITUACIONLABORAL    object
EDAD                    int64
DEPARTAMENTO           object
INGRESO_TABLA_BCAPER  float64
FLG_AFLUENTE          float64
FLG_PASIVO            float64
FLG_ACTIVO            float64
FLG_INVERSION         float64
FLG_PREST_PER         float64
FLG_TC                float64
FLG_HIP               float64
FLG_CTASUELDO         float64
FLG_CTAAHORRO         float64
FLG_FFMM              float64
CANT_FAMPROD          float64
SALDO_PASIVO          float64
SALDO_ACTIVO          float64
SALDO_PASIVO_N_6M     float64
SALDO_PREST_PER       float64
SALDO_TC              float64
SALDO_HIP             float64
SALDO_CTASUELDO       float64
SALDO_CTAAHORRO       float64
SALDO_FFMM            float64
RCC_D_VEH             float64
RCC_D_HIP             float64
RCC_D_TC              float64
RCC_D_TOTAL           float64
TRX_VEN                 int64
TRX_HBK                 int64
TRX_BMO                 int64
TRX_DIG                 int64
TOTALTRX                int64
TRX_DIG_MON             int64
TRX_DIG_NOMON           int64
TOTALTRX_MON            int64

In [277]:
data_cli.describe(include ='all')

,ID_SEC,TARGET_VTAMOV,CODSUBSEGMENTO,PERFIL_TACTICO,PERFIL_DIGITAL,FLGSEXO,TIPESTCIVIL,TIPNIVELEDUCACIONAL,TIPSITUACIONLABORAL,EDAD,DEPARTAMENTO,INGRESO_TABLA_BCAPER,FLG_AFLUENTE
count,241513.000000,241513.000000,241513,241308,241513,241512,241513,241513,241513,241513.000000,241391,238767.000000,241308.000000
unique,NaN,NaN,4,12,3,2,6,13,7,NaN,25,NaN,NaN
top,NaN,NaN,M1N,CONSUMO,DIG MON,M,SOL,BAC,DEP,NaN,LIMA,NaN,NaN
freq,NaN,NaN,147625,46490,207210,152626,145742,77799,181781,NaN,180990,NaN,NaN
mean,120757.000000,0.002252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.705842,NaN,6012.031815,0.455969
std,69718.942119,0.047407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.940971,NaN,8043.607983,0.498059
min,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,350.010000,0.000000
25%,60379.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.000000,NaN,2146.021694,0.000000
50%,120757.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.000000,NaN,3773.480000,0.000000
75%,181135.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.000000,NaN,6905.370000,1.000000
max,241513.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.000000,NaN,501995.000000,1.000000

In [278]:
data_fin.describe(include ='all')

,ID_SEC,FLG_PASIVO,FLG_ACTIVO,FLG_INVERSION,FLG_PREST_PER,FLG_TC,FLG_HIP,FLG_CTASUELDO,FLG_CTAAHORRO,FLG_FFMM,...,SALDO_PREST_PER,SALDO_TC,SALDO_HIP,SALDO_CTASUELDO,SALDO_CTAAHORRO,SALDO_FFMM,RCC_D_VEH,RCC_D_HIP,RCC_D_TC,RCC_D_TOTAL
count,241513.000000,241308.000000,241308.000000,241308.000000,241308.000000,241308.000000,241308.000000,241308.000000,241308.000000,241308.000000,...,2.413080e+05,241308.000000,2.413080e+05,2.413080e+05,2.413080e+05,2.413080e+05,201661.000000,2.016610e+05,201661.000000,2.016610e+05
mean,120757.000000,0.999163,0.647136,0.060367,0.197557,0.599184,0.057822,0.504289,0.734949,0.041018,...,8.096902e+03,5579.003926,1.697241e+04,3.522580e+03,1.174965e+04,6.540161e+03,2829.951123,4.196904e+04,15263.318995,7.214378e+04
std,69718.942119,0.028921,0.477862,0.238166,0.398157,0.490065,0.233408,0.499983,0.441361,0.198333,...,7.312974e+04,13736.447587,1.086133e+05,2.613400e+04,1.293604e+05,1.189613e+05,12804.543001,1.649046e+05,28699.322983,1.906371e+05
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00
25%,60379.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,634.960000,2.567190e+03
50%,120757.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.297200e+02,0.000000e+00,0.000000,0.000000e+00,4305.310000,1.550721e+04
75%,181135.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000e+00,3767.052500,0.000000e+00,9.595200e+02,2.227825e+03,0.000000e+00,0.000000,0.000000e+00,16583.460000,5.927644e+04
max,241513.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.657570e+07,330062.000000,7.539372e+06,3.802919e+06,4.981420e+07,2.587963e+07,692550.580000,1.190190e+07,541395.510000,1.666869e+07

In [279]:
data_trx.describe(include ='all')

,ID_SEC,TRX_VEN,TRX_HBK,TRX_BMO,TRX_DIG,TOTALTRX,TRX_DIG_MON,TRX_DIG_NOMON,TOTALTRX_MON
count,241513.000000,241513.000000,241513.000000,241513.000000,241513.000000,241513.000000,241513.000000,241513.000000,241513.000000
mean,120757.000000,3.037969,53.061297,118.103787,171.165084,197.750626,23.050697,148.114387,46.909276
std,69718.942119,7.231525,114.792852,170.346322,199.824388,208.751420,33.907440,174.506905,45.530894
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,60379.000000,0.000000,0.000000,4.000000,55.000000,77.000000,5.000000,47.000000,20.000000
50%,120757.000000,1.000000,16.000000,67.000000,126.000000,153.000000,16.000000,107.000000,39.000000
75%,181135.000000,4.000000,69.000000,169.000000,228.000000,259.000000,31.000000,197.000000,62.000000
max,241513.000000,769.000000,16134.000000,14691.000000,17575.000000,17844.000000,2766.000000,14864.000000,2979.000000

In [280]:
data = pd.merge(data_cli , data_fin, how = "left" , on = "ID_SEC")
data = pd.merge(data , data_trx, how = "left" , on = "ID_SEC")

In [281]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 241513 entries, 0 to 241512
Data columns (total 44 columns):
ID_SEC                  241513 non-null int64
TARGET_VTAMOV           241513 non-null int64
CODSUBSEGMENTO          241513 non-null object
PERFIL_TACTICO          241308 non-null object
PERFIL_DIGITAL          241513 non-null object
FLGSEXO                 241512 non-null object
TIPESTCIVIL             241513 non-null object
TIPNIVELEDUCACIONAL     241513 non-null object
TIPSITUACIONLABORAL     241513 non-null object
EDAD                    241513 non-null int64
DEPARTAMENTO            241391 non-null object
INGRESO_TABLA_BCAPER    238767 non-null float64
FLG_AFLUENTE            241308 non-null float64
FLG_PASIVO              241308 non-null float64
FLG_ACTIVO              241308 non-null float64
FLG_INVERSION           241308 non-null float64
FLG_PREST_PER           241308 non-null float64
FLG_TC                  241308 non-null float64
FLG_HIP                 241308 non-null float64
FLG_CTASUELDO           241308 non-null float64
FLG_CTAAHORRO           241308 non-null float64
FLG_FFMM                241308 non-null float64
CANT_FAMPROD            241308 non-null float64
SALDO_PASIVO            241308 non-null float64
SALDO_ACTIVO            241308 non-null float64
SALDO_PASIVO_N_6M       241270 non-null float64
SALDO_PREST_PER         241308 non-null float64
SALDO_TC                241308 non-null float64
SALDO_HIP               241308 non-null float64
SALDO_CTASUELDO         241308 non-null float64
SALDO_CTAAHORRO         241308 non-null float64
SALDO_FFMM              241308 non-null float64
RCC_D_VEH               201661 non-null float64
RCC_D_HIP               201661 non-null float64
RCC_D_TC                201661 non-null float64
RCC_D_TOTAL             201661 non-null float64
TRX_VEN                 241513 non-null int64
TRX_HBK                 241513 non-null int64
TRX_BMO                 241513 non-null int64
TRX_DIG                 241513 non-null int64
TOTALTRX                241513 non-null int64
TRX_DIG_MON             241513 non-null int64
TRX_DIG_NOMON           241513 non-null int64
TOTALTRX_MON            241513 non-null int64
dtypes: float64(25), int64(11), object(8)
memory usage: 82.9+ MB

In [282]:
data['TARGET_VTAMOV'].value_counts()

0    240969
1       544
Name: TARGET_VTAMOV, dtype: int64

In [283]:
data['TARGET_VTAMOV'].value_counts(normalize = True) *100

0    99.774753
1     0.225247
Name: TARGET_VTAMOV, dtype: float64

In [284]:
data.describe(include = 'all')

,ID_SEC,TARGET_VTAMOV,CODSUBSEGMENTO,PERFIL_TACTICO,PERFIL_DIGITAL,FLGSEXO,TIPESTCIVIL,TIPNIVELEDUCACIONAL,TIPSITUACIONLABORAL,EDAD,...,RCC_D_TC,RCC_D_TOTAL,TRX_VEN,TRX_HBK,TRX_BMO,TRX_DIG,TOTALTRX,TRX_DIG_MON,TRX_DIG_NOMON,TOTALTRX_MON
count,241513.000000,241513.000000,241513,241308,241513,241512,241513,241513,241513,241513.000000,...,201661.000000,2.016610e+05,241513.000000,241513.000000,241513.000000,241513.000000,241513.000000,241513.000000,241513.000000,241513.000000
unique,NaN,NaN,4,12,3,2,6,13,7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,M1N,CONSUMO,DIG MON,M,SOL,BAC,DEP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,147625,46490,207210,152626,145742,77799,181781,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,120757.000000,0.002252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.705842,...,15263.318995,7.214378e+04,3.037969,53.061297,118.103787,171.165084,197.750626,23.050697,148.114387,46.909276
std,69718.942119,0.047407,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.940971,...,28699.322983,1.906371e+05,7.231525,114.792852,170.346322,199.824388,208.751420,33.907440,174.506905,45.530894
min,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,60379.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.000000,...,634.960000,2.567190e+03,0.000000,0.000000,4.000000,55.000000,77.000000,5.000000,47.000000,20.000000
50%,120757.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.000000,...,4305.310000,1.550721e+04,1.000000,16.000000,67.000000,126.000000,153.000000,16.000000,107.000000,39.000000
75%,181135.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.000000,...,16583.460000,5.927644e+04,4.000000,69.000000,169.000000,228.000000,259.000000,31.000000,197.000000,62.000000
max,241513.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117.000000,...,541395.510000,1.666869e+07,769.000000,16134.000000,14691.000000,17575.000000,17844.000000,2766.000000,14864.000000,2979.000000

In [285]:
list(data.columns)

['ID_SEC',
 'TARGET_VTAMOV',
 'CODSUBSEGMENTO',
 'PERFIL_TACTICO',
 'PERFIL_DIGITAL',
 'FLGSEXO',
 'TIPESTCIVIL',
 'TIPNIVELEDUCACIONAL',
 'TIPSITUACIONLABORAL',
 'EDAD',
 'DEPARTAMENTO',
 'INGRESO_TABLA_BCAPER',
 'FLG_AFLUENTE',
 'FLG_PASIVO',
 'FLG_ACTIVO',
 'FLG_INVERSION',
 'FLG_PREST_PER',
 'FLG_TC',
 'FLG_HIP',
 'FLG_CTASUELDO',
 'FLG_CTAAHORRO',
 'FLG_FFMM',
 'CANT_FAMPROD',
 'SALDO_PASIVO',
 'SALDO_ACTIVO',
 'SALDO_PASIVO_N_6M',
 'SALDO_PREST_PER',
 'SALDO_TC',
 'SALDO_HIP',
 'SALDO_CTASUELDO',
 'SALDO_CTAAHORRO',
 'SALDO_FFMM',
 'RCC_D_VEH',
 'RCC_D_HIP',
 'RCC_D_TC',
 'RCC_D_TOTAL',
 'TRX_VEN',
 'TRX_HBK',
 'TRX_BMO',
 'TRX_DIG',
 'TOTALTRX',
 'TRX_DIG_MON',
 'TRX_DIG_NOMON',
 'TOTALTRX_MON']

In [286]:
vars_cat_analizar = ['CODSUBSEGMENTO',
'PERFIL_TACTICO',
'PERFIL_DIGITAL',
'FLGSEXO',
'TIPESTCIVIL',
'TIPNIVELEDUCACIONAL',
'TIPSITUACIONLABORAL',
'DEPARTAMENTO',
'FLG_AFLUENTE',
'FLG_PASIVO',
'FLG_ACTIVO',
'FLG_INVERSION',
'FLG_PREST_PER',
'FLG_TC',
'FLG_HIP',
'FLG_CTASUELDO',
'FLG_CTAAHORRO',
'FLG_FFMM']

In [287]:

var_num = ['EDAD',
'INGRESO_TABLA_BCAPER',
'CANT_FAMPROD',
'SALDO_PASIVO',
'SALDO_ACTIVO',
'SALDO_PASIVO_N_6M',
'SALDO_PREST_PER',
'SALDO_TC',
'SALDO_HIP',
'SALDO_CTASUELDO',
'SALDO_CTAAHORRO',
'SALDO_FFMM',
'RCC_D_VEH',
'RCC_D_HIP',
'RCC_D_TC',
'RCC_D_TOTAL',
'TRX_VEN',
'TRX_HBK',
'TRX_BMO',
'TRX_DIG',
'TOTALTRX',
'TRX_DIG_MON',
'TRX_DIG_NOMON',
'TOTALTRX_MON']

In [288]:
var='CODSUBSEGMENTO'
for var in vars_cat_analizar:
    print("--------------------------------------------")
    print("Var :", var)
    print(data[var].value_counts(normalize = True)*100)

--------------------------------------------
Var : CODSUBSEGMENTO
M1N    61.125074
X1N    34.085122
LEN     4.543441
P1N     0.246364
Name: CODSUBSEGMENTO, dtype: float64
--------------------------------------------
Var : PERFIL_TACTICO
CONSUMO                     19.265835
CONSUMO JOVEN               18.289489
TOP CONSUMO                 16.344672
JÓVENES ALTO POTENCIAL      13.549074
EXCLUSIVO ALTO POTENCIAL    12.576044
EXCLUSIVO                   10.481625
ENALTA                       3.919058
BAJOS INGRESOS               2.819219
SIN INFO                     1.061299
JUBILADO                     0.958526
JUBILADO TOP                 0.652278
ESTUDIANTE                   0.082882
Name: PERFIL_TACTICO, dtype: float64
--------------------------------------------
Var : PERFIL_DIGITAL
DIG MON      85.796624
DIG NOMON     9.973790
NO DIG        4.229586
Name: PERFIL_DIGITAL, dtype: float64
--------------------------------------------
Var : FLGSEXO
M    63.196032
F    36.803968
Name: FLGSEXO, dtype: float64
--------------------------------------------
Var : TIPESTCIVIL
SOL    60.345406
CAS    32.841296
SEP     3.414723
CBS     1.734068
CON     1.206974
VIU     0.457532
Name: TIPESTCIVIL, dtype: float64
--------------------------------------------
Var : TIPNIVELEDUCACIONAL
BAC    32.213173
TIT    18.965025
TEC    16.879423
SUP    14.722189
NDI     6.051020
TEI     3.210179
MAE     2.919926
SEC     2.633399
LIC     1.864910
DOC     0.246778
FAR     0.245949
PRI     0.041820
ANA     0.006211
Name: TIPNIVELEDUCACIONAL, dtype: float64
--------------------------------------------
Var : TIPSITUACIONLABORAL
DEP    75.267584
IND     7.975554
SUC     6.605027
NDI     5.711908
EST     3.452816
INF     0.501422
JUB     0.485688
Name: TIPSITUACIONLABORAL, dtype: float64
--------------------------------------------
Var : DEPARTAMENTO
LIMA                         74.977940
CALLAO                        4.935975
AREQUIPA                      4.474069
LA LIBERTAD                   3.453733
PIURA                         2.163710
LAMBAYEQUE                    1.623507
ICA                           1.212141
ANCASH                        1.018265
CUZCO                         0.949911
JUNIN                         0.927127
CAJAMARCA                     0.817346
MOQUEGUA                      0.588671
TACNA                         0.543931
SAN MARTIN                    0.400181
LORETO                        0.384024
UCAYALI                       0.279215
HUANUCO                       0.269273
PUNO                          0.228260
AYACUCHO                      0.193048
CERRO DE PASCO                0.114752
AMAZONAS                      0.112266
TUMBES                        0.108952
APURIMAC                      0.094038
MADRE DE DIOS                 0.082025
HUANCAVELICA                  0.047641
Name: DEPARTAMENTO, dtype: float64
--------------------------------------------
Var : FLG_AFLUENTE
0.0    54.403087
1.0    45.596913
Name: FLG_AFLUENTE, dtype: float64
--------------------------------------------
Var : FLG_PASIVO
1.0    99.91629
0.0     0.08371
Name: FLG_PASIVO, dtype: float64
--------------------------------------------
Var : FLG_ACTIVO
1.0    64.713561
0.0    35.286439
Name: FLG_ACTIVO, dtype: float64
--------------------------------------------
Var : FLG_INVERSION
0.0    93.963317
1.0     6.036683
Name: FLG_INVERSION, dtype: float64
--------------------------------------------
Var : FLG_PREST_PER
0.0    80.244335
1.0    19.755665
Name: FLG_PREST_PER, dtype: float64
--------------------------------------------
Var : FLG_TC
1.0    59.918444
0.0    40.081556
Name: FLG_TC, dtype: float64
--------------------------------------------
Var : FLG_HIP
0.0    94.217763
1.0     5.782237
Name: FLG_HIP, dtype: float64
--------------------------------------------
Var : FLG_CTASUELDO
1.0    50.428912
0.0    49.571088
Name: FLG_CTASUELDO, dtype: float64
--------------------------------------------
Var : FLG_CTAAHORRO
1.0    73.49487
0.0    26.50513
Name: FLG_CTAAHORRO, dtype: float64
--------------------------------------------
Var : FLG_FFMM
0.0    95.898188
1.0     4.101812
Name: FLG_FFMM, dtype: float64

In [289]:
#var='CODSUBSEGMENTO'
for var in vars_cat_analizar:
    print("--------------------------------------------")
    print("Var :", var)
    temp=pd.DataFrame(data.groupby([var])["TARGET_VTAMOV"].mean()*100)
    temp=temp.sort_values("TARGET_VTAMOV" , ascending =False)
    print(temp)

--------------------------------------------
Var : CODSUBSEGMENTO
                TARGET_VTAMOV
CODSUBSEGMENTO
LEN                  0.592363
X1N                  0.318270
P1N                  0.168067
M1N                  0.146317
--------------------------------------------
Var : PERFIL_TACTICO
                          TARGET_VTAMOV
PERFIL_TACTICO
ENALTA                         0.655599
ESTUDIANTE                     0.500000
JÓVENES ALTO POTENCIAL         0.437376
EXCLUSIVO ALTO POTENCIAL       0.362474
EXCLUSIVO                      0.237220
TOP CONSUMO                    0.169874
CONSUMO JOVEN                  0.104228
CONSUMO                        0.103248
JUBILADO                       0.086468
JUBILADO TOP                   0.063532
BAJOS INGRESOS                 0.044098
SIN INFO                       0.000000
--------------------------------------------
Var : PERFIL_DIGITAL
                TARGET_VTAMOV
PERFIL_DIGITAL
DIG MON              0.256744
DIG NOMON            0.037363
NO DIG               0.029369
--------------------------------------------
Var : FLGSEXO
         TARGET_VTAMOV
FLGSEXO
F             0.246383
M             0.212939
--------------------------------------------
Var : TIPESTCIVIL
             TARGET_VTAMOV
TIPESTCIVIL
CBS               0.286533
SEP               0.242512
SOL               0.235347
CON               0.205832
CAS               0.202986
VIU               0.180995
--------------------------------------------
Var : TIPNIVELEDUCACIONAL
                     TARGET_VTAMOV
TIPNIVELEDUCACIONAL
MAE                       0.553035
LIC                       0.421847
BAC                       0.287921
TIT                       0.279458
SEC                       0.235849
NDI                       0.191597
FAR                       0.168350
DOC                       0.167785
SUP                       0.143436
TEI                       0.090288
TEC                       0.076044
ANA                       0.000000
PRI                       0.000000
--------------------------------------------
Var : TIPSITUACIONLABORAL
                     TARGET_VTAMOV
TIPSITUACIONLABORAL
JUB                       0.426257
NDI                       0.260964
DEP                       0.242049
EST                       0.191870
IND                       0.166130
SUC                       0.087763
INF                       0.082576
--------------------------------------------
Var : DEPARTAMENTO
                           TARGET_VTAMOV
DEPARTAMENTO
LORETO                          0.431499
AMAZONAS                        0.369004
CERRO DE PASCO                  0.361011
LIMA                            0.257473
TACNA                           0.228484
AYACUCHO                        0.214592
AREQUIPA                        0.175926
CALLAO                          0.167856
ANCASH                          0.162734
CAJAMARCA                       0.152053
MOQUEGUA                        0.140746
JUNIN                           0.134048
ICA                             0.102529
PIURA                           0.095730
LA LIBERTAD                     0.083963
CUZCO                           0.043611
LAMBAYEQUE                      0.025517
HUANUCO                         0.000000
HUANCAVELICA                    0.000000
MADRE DE DIOS                   0.000000
PUNO                            0.000000
SAN MARTIN                      0.000000
APURIMAC                        0.000000
TUMBES                          0.000000
UCAYALI                         0.000000
--------------------------------------------
Var : FLG_AFLUENTE
              TARGET_VTAMOV
FLG_AFLUENTE
1.0                0.346272
0.0                0.123401
--------------------------------------------
Var : FLG_PASIVO
            TARGET_VTAMOV
FLG_PASIVO
1.0              0.225212
0.0              0.000000
--------------------------------------------
Var : FLG_ACTIVO
            TARGET_VTAMOV
FLG_ACTIVO
1.0              0.280483
0.0              0.123313
--------------------------------------------
Var : FLG_INVERSION
               TARGET_VTAMOV
FLG_INVERSION
1.0                 0.967941
0.0                 0.177295
--------------------------------------------
Var : FLG_PREST_PER
               TARGET_VTAMOV
FLG_PREST_PER
0.0                 0.238592
1.0                 0.169911
--------------------------------------------
Var : FLG_TC
        TARGET_VTAMOV
FLG_TC
1.0          0.291864
0.0          0.125103
--------------------------------------------
Var : FLG_HIP
         TARGET_VTAMOV
FLG_HIP
1.0           0.315344
0.0           0.219481
--------------------------------------------
Var : FLG_CTASUELDO
               TARGET_VTAMOV
FLG_CTASUELDO
1.0                 0.298301
0.0                 0.150478
--------------------------------------------
Var : FLG_CTAAHORRO
               TARGET_VTAMOV
FLG_CTAAHORRO
1.0                 0.257120
0.0                 0.136025
--------------------------------------------
Var : FLG_FFMM
          TARGET_VTAMOV
FLG_FFMM
1.0            0.646595
0.0            0.206992

In [290]:
data.head()

,ID_SEC,TARGET_VTAMOV,CODSUBSEGMENTO,PERFIL_TACTICO,PERFIL_DIGITAL,FLGSEXO,TIPESTCIVIL,TIPNIVELEDUCACIONAL,TIPSITUACIONLABORAL,EDAD,...,RCC_D_TC,RCC_D_TOTAL,TRX_VEN,TRX_HBK,TRX_BMO,TRX_DIG,TOTALTRX,TRX_DIG_MON,TRX_DIG_NOMON,TOTALTRX_MON
0,1,0,X1N,ENALTA,DIG MON,M,SOL,BAC,DEP,37,...,40428.78,1247875.94,6,234,8,242,267,57,185,82
1,2,0,M1N,CONSUMO,DIG MON,F,SOL,LIC,DEP,38,...,7905.50,27905.50,3,14,0,14,53,2,12,38
2,3,0,X1N,EXCLUSIVO ALTO POTENCIAL,DIG MON,F,CAS,BAC,DEP,43,...,4970.24,4970.24,2,13,45,58,79,13,45,34
3,4,0,X1N,EXCLUSIVO,DIG MON,F,CAS,BAC,NDI,43,...,36611.01,51800.04,2,0,290,290,314,18,272,35
4,5,0,M1N,CONSUMO,DIG MON,F,SOL,TEC,IND,42,...,NaN,NaN,0,0,83,83,87,11,72,15

In [291]:
## 2.1 Preprocesamiento de datos

In [292]:
### 2.1. Tratamiento de nulos

In [293]:
data_2=data.copy()

In [294]:
data_2.head()

,ID_SEC,TARGET_VTAMOV,CODSUBSEGMENTO,PERFIL_TACTICO,PERFIL_DIGITAL,FLGSEXO,TIPESTCIVIL,TIPNIVELEDUCACIONAL,TIPSITUACIONLABORAL,EDAD,...,RCC_D_TC,RCC_D_TOTAL,TRX_VEN,TRX_HBK,TRX_BMO,TRX_DIG,TOTALTRX,TRX_DIG_MON,TRX_DIG_NOMON,TOTALTRX_MON
0,1,0,X1N,ENALTA,DIG MON,M,SOL,BAC,DEP,37,...,40428.78,1247875.94,6,234,8,242,267,57,185,82
1,2,0,M1N,CONSUMO,DIG MON,F,SOL,LIC,DEP,38,...,7905.50,27905.50,3,14,0,14,53,2,12,38
2,3,0,X1N,EXCLUSIVO ALTO POTENCIAL,DIG MON,F,CAS,BAC,DEP,43,...,4970.24,4970.24,2,13,45,58,79,13,45,34
3,4,0,X1N,EXCLUSIVO,DIG MON,F,CAS,BAC,NDI,43,...,36611.01,51800.04,2,0,290,290,314,18,272,35
4,5,0,M1N,CONSUMO,DIG MON,F,SOL,TEC,IND,42,...,NaN,NaN,0,0,83,83,87,11,72,15

In [295]:
# para saber cuantos nulos hay por campo
vars_null =pd.DataFrame(data_2.isnull().sum()  )

In [296]:
vars_null[vars_null[0] !=0]

                          0
PERFIL_TACTICO          205
FLGSEXO                   1
DEPARTAMENTO            122
INGRESO_TABLA_BCAPER   2746
FLG_AFLUENTE            205
FLG_PASIVO              205
FLG_ACTIVO              205
FLG_INVERSION           205
FLG_PREST_PER           205
FLG_TC                  205
FLG_HIP                 205
FLG_CTASUELDO           205
FLG_CTAAHORRO           205
FLG_FFMM                205
CANT_FAMPROD            205
SALDO_PASIVO            205
SALDO_ACTIVO            205
SALDO_PASIVO_N_6M       243
SALDO_PREST_PER         205
SALDO_TC                205
SALDO_HIP               205
SALDO_CTASUELDO         205
SALDO_CTAAHORRO         205
SALDO_FFMM              205
RCC_D_VEH             39852
RCC_D_HIP             39852
RCC_D_TC              39852
RCC_D_TOTAL           39852

In [297]:
#data['PERFIL_TACTICO'].fillna("" , inplace = True)
#data['FLGSEXO'].fillna("M" , inplace = True)
#data['FLGSEXO'].fillna("M" , inplace = True)
#data['DEPARTAMENTO'].fillna("" , inplace = True)
#data['FLG_AFLUENTE'].fillna("" , inplace = True)
#data['FLG_PASIVO'].fillna("" , inplace = True)
#data['FLG_ACTIVO'].fillna("" , inplace = True)
#data['PERFIL_TACTICO'].fillna("" , inplace = True)
#data['PERFIL_TACTICO'].fillna("" , inplace = True)
#data['PERFIL_TACTICO'].fillna("" , inplace = True)
#data['PERFIL_TACTICO'].fillna("" , inplace = True)
#data['PERFIL_TACTICO'].fillna("" , inplace = True)

In [298]:
for var in vars_cat_analizar:
    data_2[var].fillna(data_2[var].mode()[0], inplace = True)

In [299]:
# para saber cuantos nulos hay por campo
vars_null =pd.DataFrame(data_2.isnull().sum()  ) 
vars_null[vars_null[0] !=0]

                          0
INGRESO_TABLA_BCAPER   2746
CANT_FAMPROD            205
SALDO_PASIVO            205
SALDO_ACTIVO            205
SALDO_PASIVO_N_6M       243
SALDO_PREST_PER         205
SALDO_TC                205
SALDO_HIP               205
SALDO_CTASUELDO         205
SALDO_CTAAHORRO         205
SALDO_FFMM              205
RCC_D_VEH             39852
RCC_D_HIP             39852
RCC_D_TC              39852
RCC_D_TOTAL           39852

In [300]:
# para saber cuantos nulos hay por campos de variables categoricas
vars_null =pd.DataFrame(data_2[vars_cat_analizar].isnull().sum()  ) 
vars_null[vars_null[0] !=0]

Empty DataFrame
Columns: [0]
Index: []

In [301]:
data_2.groupby("CODSUBSEGMENTO")["INGRESO_TABLA_BCAPER"].median()

CODSUBSEGMENTO
LEN    22860.11625
M1N     2585.01000
P1N    15000.00000
X1N     7392.46250
Name: INGRESO_TABLA_BCAPER, dtype: float64

In [302]:
regs_var_nulo = data_2["INGRESO_TABLA_BCAPER"].isnull()

In [303]:
data_2.loc[(data_2["CODSUBSEGMENTO"] == 'LEN') & regs_var_nulo, "INGRESO_TABLA_BCAPER"] = 22860
data_2.loc[(data_2["CODSUBSEGMENTO"] == 'M1N') & regs_var_nulo, "INGRESO_TABLA_BCAPER"] = 2585
data_2.loc[(data_2["CODSUBSEGMENTO"] == 'P1N') & regs_var_nulo, "INGRESO_TABLA_BCAPER"] = 15000
data_2.loc[(data_2["CODSUBSEGMENTO"] == 'X1N') & regs_var_nulo, "INGRESO_TABLA_BCAPER"] = 7392

In [304]:
#d=data_2.groupby(["CODSUBSEGMENTO"] )["INGRESO_TABLA_BCAPER"].median()

In [305]:
#d.loc[(data_2["CODSUBSEGMENTO"] =='LEN'),"INGRESO_TABLA_BCAPER"]

In [306]:
### 2.2 Transformando variables categoricas a numericas

In [307]:
#PERFIL DIGITAL
#'dicc_temp = ('DIG')
list(data_2.PERFIL_DIGITAL.unique())

['DIG MON', 'DIG NOMON', 'NO DIG']

In [308]:
dicc_temp = {'DIG MON' : 1, 'DIG NOMON' : 2, 'NO DIG' : 3}

In [309]:
data_2["PERFIL_DIGITAL"] = data_2["PERFIL_DIGITAL"].map(dicc_temp)

In [310]:
data_2.head()

,ID_SEC,TARGET_VTAMOV,CODSUBSEGMENTO,PERFIL_TACTICO,PERFIL_DIGITAL,FLGSEXO,TIPESTCIVIL,TIPNIVELEDUCACIONAL,TIPSITUACIONLABORAL,EDAD,...,RCC_D_TC,RCC_D_TOTAL,TRX_VEN,TRX_HBK,TRX_BMO,TRX_DIG,TOTALTRX,TRX_DIG_MON,TRX_DIG_NOMON,TOTALTRX_MON
0,1,0,X1N,ENALTA,1,M,SOL,BAC,DEP,37,...,40428.78,1247875.94,6,234,8,242,267,57,185,82
1,2,0,M1N,CONSUMO,1,F,SOL,LIC,DEP,38,...,7905.50,27905.50,3,14,0,14,53,2,12,38
2,3,0,X1N,EXCLUSIVO ALTO POTENCIAL,1,F,CAS,BAC,DEP,43,...,4970.24,4970.24,2,13,45,58,79,13,45,34
3,4,0,X1N,EXCLUSIVO,1,F,CAS,BAC,NDI,43,...,36611.01,51800.04,2,0,290,290,314,18,272,35
4,5,0,M1N,CONSUMO,1,F,SOL,TEC,IND,42,...,NaN,NaN,0,0,83,83,87,11,72,15

In [311]:
list(data_2.TIPNIVELEDUCACIONAL.unique())

['BAC',
 'LIC',
 'TEC',
 'MAE',
 'TIT',
 'SUP',
 'SEC',
 'NDI',
 'TEI',
 'DOC',
 'FAR',
 'PRI',
 'ANA']

In [312]:
dicc_niv_edu ={'BAC' : 6,
 'LIC' : 6,
 'TEC' : 4,
 'MAE' : 8,
 'TIT' : 7,
 'SUP' : 5,
 'SEC' : 3,
 'NDI' : 0,
 'TEI' : 4,
 'DOC' : 9,
 'FAR' : 4,
 'PRI' : 2,
 'ANA' : 1}

In [313]:
data_2["TIPNIVELEDUCACIONAL"] = data_2["TIPNIVELEDUCACIONAL"].map(dicc_niv_edu)

In [314]:
data_2.head()

,ID_SEC,TARGET_VTAMOV,CODSUBSEGMENTO,PERFIL_TACTICO,PERFIL_DIGITAL,FLGSEXO,TIPESTCIVIL,TIPNIVELEDUCACIONAL,TIPSITUACIONLABORAL,EDAD,...,RCC_D_TC,RCC_D_TOTAL,TRX_VEN,TRX_HBK,TRX_BMO,TRX_DIG,TOTALTRX,TRX_DIG_MON,TRX_DIG_NOMON,TOTALTRX_MON
0,1,0,X1N,ENALTA,1,M,SOL,6,DEP,37,...,40428.78,1247875.94,6,234,8,242,267,57,185,82
1,2,0,M1N,CONSUMO,1,F,SOL,6,DEP,38,...,7905.50,27905.50,3,14,0,14,53,2,12,38
2,3,0,X1N,EXCLUSIVO ALTO POTENCIAL,1,F,CAS,6,DEP,43,...,4970.24,4970.24,2,13,45,58,79,13,45,34
3,4,0,X1N,EXCLUSIVO,1,F,CAS,6,NDI,43,...,36611.01,51800.04,2,0,290,290,314,18,272,35
4,5,0,M1N,CONSUMO,1,F,SOL,4,IND,42,...,NaN,NaN,0,0,83,83,87,11,72,15

In [315]:

### Convertir a dummies

In [316]:
list_temp = ['CODSUBSEGMENTO',
'PERFIL_TACTICO',
'TIPESTCIVIL',
'TIPSITUACIONLABORAL',
'DEPARTAMENTO']

In [317]:
for var in list_temp:
    df_dummies = pd.get_dummies(data_2[var], prefix = var)
    del data_2[var]
    data_2 = pd.concat([data_2,df_dummies], axis = 1)

In [318]:
data_2.head()

,ID_SEC,TARGET_VTAMOV,PERFIL_DIGITAL,FLGSEXO,TIPNIVELEDUCACIONAL,EDAD,INGRESO_TABLA_BCAPER,FLG_AFLUENTE,FLG_PASIVO,FLG_ACTIVO,...,DEPARTAMENTO_LIMA,DEPARTAMENTO_LORETO,DEPARTAMENTO_MADRE DE DIOS,DEPARTAMENTO_MOQUEGUA,DEPARTAMENTO_PIURA,DEPARTAMENTO_PUNO,DEPARTAMENTO_SAN MARTIN,DEPARTAMENTO_TACNA,DEPARTAMENTO_TUMBES,DEPARTAMENTO_UCAYALI
0,1,0,1,M,6,37,27558.547500,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
1,2,0,1,F,6,38,2769.067500,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,1,F,6,43,9914.747500,1.0,1.0,0.0,...,1,0,0,0,0,0,0,0,0,0
3,4,0,1,F,6,43,7448.005000,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,1,F,4,42,1203.646313,0.0,1.0,0.0,...,1,0,0,0,0,0,0,0,0,0

In [319]:
data_2.columns

Index(['ID_SEC', 'TARGET_VTAMOV', 'PERFIL_DIGITAL', 'FLGSEXO',
       'TIPNIVELEDUCACIONAL', 'EDAD', 'INGRESO_TABLA_BCAPER', 'FLG_AFLUENTE',
       'FLG_PASIVO', 'FLG_ACTIVO', 'FLG_INVERSION', 'FLG_PREST_PER', 'FLG_TC',
       'FLG_HIP', 'FLG_CTASUELDO', 'FLG_CTAAHORRO', 'FLG_FFMM', 'CANT_FAMPROD',
       'SALDO_PASIVO', 'SALDO_ACTIVO', 'SALDO_PASIVO_N_6M', 'SALDO_PREST_PER',
       'SALDO_TC', 'SALDO_HIP', 'SALDO_CTASUELDO', 'SALDO_CTAAHORRO',
       'SALDO_FFMM', 'RCC_D_VEH', 'RCC_D_HIP', 'RCC_D_TC', 'RCC_D_TOTAL',
       'TRX_VEN', 'TRX_HBK', 'TRX_BMO', 'TRX_DIG', 'TOTALTRX', 'TRX_DIG_MON',
       'TRX_DIG_NOMON', 'TOTALTRX_MON', 'CODSUBSEGMENTO_LEN',
       'CODSUBSEGMENTO_M1N', 'CODSUBSEGMENTO_P1N', 'CODSUBSEGMENTO_X1N',
       'PERFIL_TACTICO_BAJOS INGRESOS', 'PERFIL_TACTICO_CONSUMO',
       'PERFIL_TACTICO_CONSUMO JOVEN', 'PERFIL_TACTICO_ENALTA',
       'PERFIL_TACTICO_ESTUDIANTE', 'PERFIL_TACTICO_EXCLUSIVO',
       'PERFIL_TACTICO_EXCLUSIVO ALTO POTENCIAL', 'PERFIL_TACTICO_JUBILADO',
       'PERFIL_TACTICO_JUBILADO TOP', 'PERFIL_TACTICO_JÓVENES ALTO POTENCIAL',
       'PERFIL_TACTICO_SIN INFO', 'PERFIL_TACTICO_TOP CONSUMO',
       'TIPESTCIVIL_CAS', 'TIPESTCIVIL_CBS', 'TIPESTCIVIL_CON',
       'TIPESTCIVIL_SEP', 'TIPESTCIVIL_SOL', 'TIPESTCIVIL_VIU',
       'TIPSITUACIONLABORAL_DEP', 'TIPSITUACIONLABORAL_EST',
       'TIPSITUACIONLABORAL_IND', 'TIPSITUACIONLABORAL_INF',
       'TIPSITUACIONLABORAL_JUB', 'TIPSITUACIONLABORAL_NDI',
       'TIPSITUACIONLABORAL_SUC', 'DEPARTAMENTO_AMAZONAS                 ',
       'DEPARTAMENTO_ANCASH                   ',
       'DEPARTAMENTO_APURIMAC                 ',
       'DEPARTAMENTO_AREQUIPA                 ',
       'DEPARTAMENTO_AYACUCHO                 ',
       'DEPARTAMENTO_CAJAMARCA                ',
       'DEPARTAMENTO_CALLAO                   ',
       'DEPARTAMENTO_CERRO DE PASCO           ',
       'DEPARTAMENTO_CUZCO                    ',
       'DEPARTAMENTO_HUANCAVELICA             ',
       'DEPARTAMENTO_HUANUCO                  ',
       'DEPARTAMENTO_ICA                      ',
       'DEPARTAMENTO_JUNIN                    ',
       'DEPARTAMENTO_LA LIBERTAD              ',
       'DEPARTAMENTO_LAMBAYEQUE               ',
       'DEPARTAMENTO_LIMA                     ',
       'DEPARTAMENTO_LORETO                   ',
       'DEPARTAMENTO_MADRE DE DIOS            ',
       'DEPARTAMENTO_MOQUEGUA                 ',
       'DEPARTAMENTO_PIURA                    ',
       'DEPARTAMENTO_PUNO                     ',
       'DEPARTAMENTO_SAN MARTIN               ',
       'DEPARTAMENTO_TACNA                    ',
       'DEPARTAMENTO_TUMBES                   ',
       'DEPARTAMENTO_UCAYALI                  '],
      dtype='object')

In [320]:
data_2.head()

,ID_SEC,TARGET_VTAMOV,PERFIL_DIGITAL,FLGSEXO,TIPNIVELEDUCACIONAL,EDAD,INGRESO_TABLA_BCAPER,FLG_AFLUENTE,FLG_PASIVO,FLG_ACTIVO,...,DEPARTAMENTO_LIMA,DEPARTAMENTO_LORETO,DEPARTAMENTO_MADRE DE DIOS,DEPARTAMENTO_MOQUEGUA,DEPARTAMENTO_PIURA,DEPARTAMENTO_PUNO,DEPARTAMENTO_SAN MARTIN,DEPARTAMENTO_TACNA,DEPARTAMENTO_TUMBES,DEPARTAMENTO_UCAYALI
0,1,0,1,M,6,37,27558.547500,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
1,2,0,1,F,6,38,2769.067500,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,1,F,6,43,9914.747500,1.0,1.0,0.0,...,1,0,0,0,0,0,0,0,0,0
3,4,0,1,F,6,43,7448.005000,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,1,F,4,42,1203.646313,0.0,1.0,0.0,...,1,0,0,0,0,0,0,0,0,0

In [321]:
dicc_sexo = {'M' : 1, 'F' : 0}

In [322]:
data_2["FLGSEXO"] = data_2["FLGSEXO"].map(dicc_sexo)

In [323]:
data_2.head()

,ID_SEC,TARGET_VTAMOV,PERFIL_DIGITAL,FLGSEXO,TIPNIVELEDUCACIONAL,EDAD,INGRESO_TABLA_BCAPER,FLG_AFLUENTE,FLG_PASIVO,FLG_ACTIVO,...,DEPARTAMENTO_LIMA,DEPARTAMENTO_LORETO,DEPARTAMENTO_MADRE DE DIOS,DEPARTAMENTO_MOQUEGUA,DEPARTAMENTO_PIURA,DEPARTAMENTO_PUNO,DEPARTAMENTO_SAN MARTIN,DEPARTAMENTO_TACNA,DEPARTAMENTO_TUMBES,DEPARTAMENTO_UCAYALI
0,1,0,1,1,6,37,27558.547500,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
1,2,0,1,0,6,38,2769.067500,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,1,0,6,43,9914.747500,1.0,1.0,0.0,...,1,0,0,0,0,0,0,0,0,0
3,4,0,1,0,6,43,7448.005000,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,1,0,4,42,1203.646313,0.0,1.0,0.0,...,1,0,0,0,0,0,0,0,0,0

In [324]:
### revisando nulos en variables numericas
data_2[var_num].isnull().sum()v

EDAD                        0
INGRESO_TABLA_BCAPER        0
CANT_FAMPROD              205
SALDO_PASIVO              205
SALDO_ACTIVO              205
SALDO_PASIVO_N_6M         243
SALDO_PREST_PER           205
SALDO_TC                  205
SALDO_HIP                 205
SALDO_CTASUELDO           205
SALDO_CTAAHORRO           205
SALDO_FFMM                205
RCC_D_VEH               39852
RCC_D_HIP               39852
RCC_D_TC                39852
RCC_D_TOTAL             39852
TRX_VEN                     0
TRX_HBK                     0
TRX_BMO                     0
TRX_DIG                     0
TOTALTRX                    0
TRX_DIG_MON                 0
TRX_DIG_NOMON               0
TOTALTRX_MON                0
dtype: int64

In [325]:
var_num

['EDAD',
 'INGRESO_TABLA_BCAPER',
 'CANT_FAMPROD',
 'SALDO_PASIVO',
 'SALDO_ACTIVO',
 'SALDO_PASIVO_N_6M',
 'SALDO_PREST_PER',
 'SALDO_TC',
 'SALDO_HIP',
 'SALDO_CTASUELDO',
 'SALDO_CTAAHORRO',
 'SALDO_FFMM',
 'RCC_D_VEH',
 'RCC_D_HIP',
 'RCC_D_TC',
 'RCC_D_TOTAL',
 'TRX_VEN',
 'TRX_HBK',
 'TRX_BMO',
 'TRX_DIG',
 'TOTALTRX',
 'TRX_DIG_MON',
 'TRX_DIG_NOMON',
 'TOTALTRX_MON']

In [327]:
data_2.head()

,ID_SEC,TARGET_VTAMOV,PERFIL_DIGITAL,FLGSEXO,TIPNIVELEDUCACIONAL,EDAD,INGRESO_TABLA_BCAPER,FLG_AFLUENTE,FLG_PASIVO,FLG_ACTIVO,...,DEPARTAMENTO_LIMA,DEPARTAMENTO_LORETO,DEPARTAMENTO_MADRE DE DIOS,DEPARTAMENTO_MOQUEGUA,DEPARTAMENTO_PIURA,DEPARTAMENTO_PUNO,DEPARTAMENTO_SAN MARTIN,DEPARTAMENTO_TACNA,DEPARTAMENTO_TUMBES,DEPARTAMENTO_UCAYALI
0,1,0,1,1,6,37,27558.547500,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
1,2,0,1,0,6,38,2769.067500,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,1,0,6,43,9914.747500,1.0,1.0,0.0,...,1,0,0,0,0,0,0,0,0,0
3,4,0,1,0,6,43,7448.005000,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,1,0,4,42,1203.646313,0.0,1.0,0.0,...,1,0,0,0,0,0,0,0,0,0

In [328]:
## revisando nulos en variables numericas
data_2[var_num].isnull().sum()

EDAD                        0
INGRESO_TABLA_BCAPER        0
CANT_FAMPROD              205
SALDO_PASIVO              205
SALDO_ACTIVO              205
SALDO_PASIVO_N_6M         243
SALDO_PREST_PER           205
SALDO_TC                  205
SALDO_HIP                 205
SALDO_CTASUELDO           205
SALDO_CTAAHORRO           205
SALDO_FFMM                205
RCC_D_VEH               39852
RCC_D_HIP               39852
RCC_D_TC                39852
RCC_D_TOTAL             39852
TRX_VEN                     0
TRX_HBK                     0
TRX_BMO                     0
TRX_DIG                     0
TOTALTRX                    0
TRX_DIG_MON                 0
TRX_DIG_NOMON               0
TOTALTRX_MON                0
dtype: int64

In [337]:
data3=data_2.copy()

In [338]:
data3[var_num].isnull().sum()

EDAD                        0
INGRESO_TABLA_BCAPER        0
CANT_FAMPROD              205
SALDO_PASIVO              205
SALDO_ACTIVO              205
SALDO_PASIVO_N_6M         243
SALDO_PREST_PER           205
SALDO_TC                  205
SALDO_HIP                 205
SALDO_CTASUELDO           205
SALDO_CTAAHORRO           205
SALDO_FFMM                205
RCC_D_VEH               39852
RCC_D_HIP               39852
RCC_D_TC                39852
RCC_D_TOTAL             39852
TRX_VEN                     0
TRX_HBK                     0
TRX_BMO                     0
TRX_DIG                     0
TOTALTRX                    0
TRX_DIG_MON                 0
TRX_DIG_NOMON               0
TOTALTRX_MON                0
dtype: int64

In [339]:
data3[var_num] = data3[var_num].fillna(0)

In [340]:
data3[var_num]

,EDAD,INGRESO_TABLA_BCAPER,CANT_FAMPROD,SALDO_PASIVO,SALDO_ACTIVO,SALDO_PASIVO_N_6M,SALDO_PREST_PER,SALDO_TC,SALDO_HIP,SALDO_CTASUELDO,...,RCC_D_TC,RCC_D_TOTAL,TRX_VEN,TRX_HBK,TRX_BMO,TRX_DIG,TOTALTRX,TRX_DIG_MON,TRX_DIG_NOMON,TOTALTRX_MON
0,37,27558.547500,3.0,31452.54,899985.87,1.325323e+05,0.00,0.00,899985.87,18566.10,...,40428.78,1247875.94,6,234,8,242,267,57,185,82
1,38,2769.067500,2.0,473.53,5404.24,6.431500e+02,0.00,5404.24,0.00,473.53,...,7905.50,27905.50,3,14,0,14,53,2,12,38
2,43,9914.747500,2.0,13226.50,0.00,1.798792e+04,0.00,0.00,0.00,6662.51,...,4970.24,4970.24,2,13,45,58,79,13,45,34
3,43,7448.005000,3.0,3290.89,51161.70,2.149258e+03,15189.03,35972.67,0.00,0.00,...,36611.01,51800.04,2,0,290,290,314,18,272,35
4,42,1203.646313,1.0,32.76,0.00,9.612500e+01,0.00,0.00,0.00,0.00,...,0.00,0.00,0,0,83,83,87,11,72,15
5,50,9051.270000,2.0,5637.68,0.00,4.978708e+03,0.00,0.00,0.00,0.00,...,2873.73,16553.07,1,64,0,64,87,12,52,26
6,51,2794.500000,4.0,2420.29,55340.90,1.411843e+03,0.00,1511.52,53829.38,51.03,...,2914.27,70083.09,0,62,0,62,106,12,50,39
7,60,12000.000000,3.0,4540.57,88356.09,2.604138e+03,77663.84,10692.25,0.00,0.00,...,15702.18,94488.02,3,101,34,135,171,20,115,56
8,42,4951.550000,3.0,13954.82,0.00,1.021330e+04,0.00,0.00,0.00,3961.60,...,6389.20,6389.20,3,48,589,637,717,102,535,182
9,40,1398.182500,2.0,29.01,0.00,6.369867e+02,0.00,0.00,0.00,0.00,...,0.00,0.00,1,24,0,24,42,2,22,18
10,42,12544.680000,1.0,672.71,0.00,3.096633e+03,0.00,0.00,0.00,0.00,...,27781.64,453128.38,4,4,0,4,13,0,4,5
11,52,10108.365000,4.0,41994.34,390638.34,3.870197e+04,0.00,0.00,390638.34,40457.64,...,9935.24,401101.76,0,47,25,72,84,22,50,33
12,53,23066.000000,2.0,104.54,0.00,1.521950e+02,0.00,0.00,0.00,0.00,...,30244.56,302192.72,0,38,8,46,46,11,35,11
13,47,5860.880000,2.0,25379.59,12108.59,1.285539e+04,0.00,12108.59,0.00,0.00,...,30187.22,30187.22,12,120,247,367,400,81,286,112
14,56,3690.140000,1.0,1418.51,0.00,3.688708e+03,0.00,0.00,0.00,0.00,...,35.50,35.50,0,7,0,7,8,2,5,3
15,43,11832.330000,3.0,3301.76,216783.21,5.734985e+03,141377.45,75405.76,0.00,3301.76,...,80524.13,222589.14,3,33,258,291,336,48,243,93
16,41,12506.000000,4.0,6671.92,240628.21,1.706517e+04,0.00,36122.88,204505.33,0.00,...,103727.71,308444.03,2,562,0,562,602,122,440,160
17,54,14229.742500,4.0,242956.81,6292.52,1.875770e+06,0.00,6292.52,0.00,12967.63,...,10741.90,10741.90,3,59,72,131,170,10,121,49
18,38,5430.700000,4.0,1415.12,71252.07,1.740783e+03,71252.07,0.00,0.00,673.68,...,8910.89,81281.83,2,143,112,255,320,38,217,98
19,36,4008.210000,4.0,10213.08,2140.60,8.992563e+03,0.00,2140.60,0.00,99.72,...,33341.27,33341.27,0,0,189,189,214,15,174,31
20,45,10760.260000,4.0,4753.75,84055.24,1.303067e+04,82951.51,1103.73,0.00,4744.69,...,8163.85,92430.89,3,192,0,192,216,31,161,55
21,50,12942.000000,2.0,90991.47,0.00,8.458528e+04,0.00,0.00,0.00,23129.66,...,0.00,0.00,8,27,9,36,106,4,32,63
22,39,4626.530000,2.0,9628.08,0.00,7.697120e+03,0.00,0.00,0.00,0.00,...,1047.61,18421.48,0,0,53,53,59,12,41,18
23,39,13217.142500,3.0,18222.90,0.00,1.205344e+04,0.00,0.00,0.00,722.95,...,0.00,0.00,0,35,229,264,278,46,218,60
24,43,5400.000000,4.0,23085.57,17960.06,2.425893e+04,17960.06,0.00,0.00,1250.68,...,729.21,19322.62,5,122,29,151,208,23,128,70
25,48,5174.010000,1.0,154110.77,0.00,1.515968e+05,0.00,0.00,0.00,0.00,...,8.00,8.00,0,35,0,35,47,2,33,14
26,43,18196.000000,5.0,2.55,132791.74,8.820500e+01,59260.36,2265.00,71266.38,0.00,...,29132.09,160572.68,1,21,20,41,48,8,33,13
27,56,7363.252500,2.0,565.46,5384.25,2.381218e+03,0.00,5384.25,0.00,565.46,...,7724.05,7724.05,2,96,59,155,170,26,129,41
28,49,3743.810000,3.0,11675.68,11340.45,7.892803e+03,11340.45,0.00,0.00,4557.36,...,0.00,16479.15,0,0,0,0,49,0,0,49
29,41,3475.727500,3.0,6069.96,7957.60,6.806338e+03,0.00,7957.60,0.00,3269.59,...,23431.42,23817.96,0,135,93,228,238,19,209,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241483,42,2316.000000,1.0,11.94,0.00,1.788313e+03,0.00,0.00,0.00,0.00,...,11686.85,11686.85,1,3,13,16,22,1,15,7
241484,26,1403.770196,1.0,167.24,0.00,3.236017e+02,0.00,0.00,0.00,0.00,...,0.00,0.00,0,0,18,18,39,1,17,22
241485,33,6479.520000,1.0,25474.66,0.00,2.271894e+04,0.00,0.00,0.00,0.00,...,444.31,444.31,0,0,0,0,2,0,0,2
241486,33,5699.760000,2.0,2181.49,65149.43,6.980077e+03,65149.43,0.00,0.00,2181.49,...,0.00,66261.80,3,117,0,117,136,47,70,66
241487,33,4811.620000,4.0,14775.57,81647.75,3.106568e+03,81647.75,0.00,0.00,14765.65,...,23091.17,59161.66,17,82,0,82,149,13,69,70
241488,29,6500.000000,4.0,933.03,29472.78,4.903648e+03,22428.21,7044.57,0.00,661.07,...,7732.94,34414.07,2,27,289,316,343,48,268,75
241489,32,10543.797500,4.0,16746.26,1428.65,1.414276e+04,1428.65,0.00,0.00,1683.54,...,0.00,54003.86,0,0,134,134,174,14,120,53
241490,30,11140.512500,4.0,48498.23,0.00,2.482209e+05,0.00,0.00,0.00,7750.29,...,884.27,884.27,7,83,0,83,127,15,68,53
241491,30,1537.630000,2.0,6075.37,0.00,6.133080e+03,0.00,0.00,0.00,338.80,...,1500.00,13854.15,0,0,0,0,28,0,0,18
241492,27,1656.560000,1.0,410.03,0.00,2.766650e+02,0.00,0.00,0.00,0.00,...,2742.95,11727.66,0,0,25,25,41,0,25,16
241493,30,1522.740000,3.0,68709.64,16382.01,6.225984e+04,16196.33,185.68,0.00,0.00,...,1353.21,17689.79,0,8,55,63,63,11,52,11
241494,32,2935.400000,2.0,215.03,3883.25,3.229667e+02,0.00,3883.25,0.00,0.00,...,5585.90,8536.96,0,0,286,286,316,42,244,70
241495,34,903.487418,1.0,5.10,0.00,4.460000e+00,0.00,0.00,0.00,0.00,...,0.00,0.00,0,0,6,6,18,0,6,5
241496,32,3147.170000,3.0,7617.29,19084.40,7.336950e+03,4557.70,14526.70,0.00,0.00,...,13108.35,22812.59,6,16,277,293,320,48,245,75
241497,37,1991.017500,2.0,582.46,0.00,1.197168e+03,0.00,0.00,0.00,0.00,...,0.00,0.00,0,0,59,59,78,8,51,26
241498,25,873.765000,3.0,256.74,0.00,2.258083e+02,0.00,0.00,0.00,87.86,...,0.00,0.00,0,0,0,0,3,0,0,3
241499,24,1651.325052,2.0,633.21,546.43,3.790767e+02,0.00,546.43,0.00,0.00,...,673.96,673.96,1,48,193,241,283,30,211,64
241500,30,6502.180000,2.0,27196.81,0.00,1.702491e+04,0.00,0.00,0.00,23719.79,...,6166.90,6166.90,2,36,0,36,42,9,27,15
241501,27,2416.232500,3.0,6789.25,0.00,6.477958e+03,0.00,0.00,0.00,1116.14,...,0.00,0.00,0,0,23,23,36,4,19,16
241502,26,1952.180000,1.0,14.33,0.00,2.388333e+00,0.00,0.00,0.00,0.00,...,450.00,450.00,5,24,0,24,34,1,23,8
241503,28,1430.713655,2.0,1.15,0.00,6.627167e+01,0.00,0.00,0.00,1.15,...,0.00,1435.67,0,0,48,48,67,3,45,19
241504,26,7530.320000,3.0,108592.20,2932.49,1.238530e+05,0.00,2932.49,0.00,2651.05,...,2047.95,2047.95,1,4,176,180,193,35,145,48
241505,34,2966.750000,3.0,979.47,3789.53,6.222100e+02,0.00,3789.53,0.00,0.00,...,5007.39,5007.39,4,235,0,235,260,14,221,30
241506,30,4463.370000,4.0,11978.83,13518.42,1.308921e+04,12877.34,641.08,0.00,1184.07,...,200.00,13096.32,3,9,223,232,260,21,211,47
241507,26,910.244874,1.0,225.94,0.00,1.050700e+02,0.00,0.00,0.00,0.00,...,0.00,0.00,1,12,59,71,129,0,71,45
241508,26,2563.175000,2.0,55.68,1053.18,1.709167e+01,0.00,1053.18,0.00,55.68,...,1684.31,1684.31,2,20,217,237,253,23,214,34
241509,37,4772.880000,1.0,884.29,0.00,1.923672e+03,0.00,0.00,0.00,0.00,...,0.00,56473.49,0,0,69,69,78,0,69,9
241510,25,3081.900000,2.0,204.30,2542.61,1.800800e+02,0.00,2542.61,0.00,204.30,...,3467.65,3467.65,0,36,286,322,341,63,259,82
241511,29,1616.030000,1.0,117.41,0.00,2.059817e+02,0.00,0.00,0.00,0.00,...,7567.30,7567.30,2,43,18,61,73,8,53,20
241512,36,2682.170000,4.0,10242.43,15173.99,8.993167e+03,1381.96,13792.03,0.00,714.77,...,13822.42,16156.45,0,0,284,284,334,22,262,68

In [341]:
data_2[var_num] = data_2[var_num].fillna(0)

In [342]:
data_2[var_num].isnull().sum()

EDAD                    0
INGRESO_TABLA_BCAPER    0
CANT_FAMPROD            0
SALDO_PASIVO            0
SALDO_ACTIVO            0
SALDO_PASIVO_N_6M       0
SALDO_PREST_PER         0
SALDO_TC                0
SALDO_HIP               0
SALDO_CTASUELDO         0
SALDO_CTAAHORRO         0
SALDO_FFMM              0
RCC_D_VEH               0
RCC_D_HIP               0
RCC_D_TC                0
RCC_D_TOTAL             0
TRX_VEN                 0
TRX_HBK                 0
TRX_BMO                 0
TRX_DIG                 0
TOTALTRX                0
TRX_DIG_MON             0
TRX_DIG_NOMON           0
TOTALTRX_MON            0
dtype: int64

In [343]:
data_2.head()

,ID_SEC,TARGET_VTAMOV,PERFIL_DIGITAL,FLGSEXO,TIPNIVELEDUCACIONAL,EDAD,INGRESO_TABLA_BCAPER,FLG_AFLUENTE,FLG_PASIVO,FLG_ACTIVO,...,DEPARTAMENTO_LIMA,DEPARTAMENTO_LORETO,DEPARTAMENTO_MADRE DE DIOS,DEPARTAMENTO_MOQUEGUA,DEPARTAMENTO_PIURA,DEPARTAMENTO_PUNO,DEPARTAMENTO_SAN MARTIN,DEPARTAMENTO_TACNA,DEPARTAMENTO_TUMBES,DEPARTAMENTO_UCAYALI
0,1,0,1,1,6,37,27558.547500,1.0,1.0,1.0,...,1,0,0,0,0,0,0,0,0,0
1,2,0,1,0,6,38,2769.067500,0.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,1,0,6,43,9914.747500,1.0,1.0,0.0,...,1,0,0,0,0,0,0,0,0,0
3,4,0,1,0,6,43,7448.005000,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,1,0,4,42,1203.646313,0.0,1.0,0.0,...,1,0,0,0,0,0,0,0,0,0